{% extends 'handclean_app/base.html' %}{% load static %}
<!-- dkjdksjdskdk -->
{% block content %}
<div style="margin-top: 2rem;">
  {% if song_title %}
  <img
    src='{% static "handclean_app/images/a.png" %}'
    alt="Hi!"
    width="90%"
    height="90%"
  />
  <br />
  <br />
  <div>
    <a
      href='{% url "dwnld_page" %}'
      class="btn btn-primary btn-block"
      style="width: 90%;"
      >Download Poster</a
    >
    <a
      href='{% url "home" %}'
      class="btn btn-primary btn-block"
      style="width: 90%;"
      >Back</a
    >
  </div>
  {% else %}
  <p>hhjhj</p>
  {% endif %}
</div>
{% endblock %}
