{% extends "handclean_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

    {% block maincontent %}
    <main role="main" class="container">
    <div class ="row">
        <div class="col-md-8">
          <div class="container">
            <p style="text-align: left;font-size:200%; "> Here are some quick poster🎶🎵 reviews by our users. 
            </p>
          {% for rev in review_done %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <p class="mr-2" >{{ rev.jingle }}</a>
                <small class="text-muted">{{ rev.date_posted }}</small>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>{{ rev.myreview}}</p>
                </div>
                <div class="col-md-6">
                  <img src={{ rev.char_pic }} class="center" width="30%"/>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-4" >
          <div style="margin-top: 2rem;">
               {% if messages%}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" >
                  {{message}}
                </div>
                {%endfor%}

              {% endif %}
          <form method="post" enctype="multipart/form-data" >
            {% csrf_token %} {% crispy review review.helper %}
          </form>
        </div>
      </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">
        Thanks for visiting❤️</p>
        <ul class ="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/vidushi-agarwal/musiclean">
              <i class="social-icons fa fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/vidushi-agarwal">
              <i class="social-icons fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </footer>
    </main>
    {% endblock %}