body {
  background: rgba(0, 0, 0, 0.87);
  color: #fff;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: rgba(0, 0, 0, 0.87);
}

.site-header .navbar-nav .nav-link {
  color: #fff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #007bff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
nav {
  border-bottom: 1px solid #fff;
}

.content-section {
  background: rgba(0, 0, 0, 0.87);
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #fff;
}

a.article-title:hover {
  color: #007bff;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #fff;
}

.article-metadata a:hover {
  color: #007bff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
